@font-face {
    font-family:'didot';
    src: url(Didot\ Regular),
         format('opentype');
  
  }
  
  * {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'didot';
  }
  
  h1 {
    font-size:2rem;
    padding:1rem;
    color:#bfbdbd;
    text-transform: uppercase;
  }

.fixed-position {
  position: fixed;
}

  /* Navbar Start */
  
  header {
    position: fixed;
    width:100%;
    background:rgba(0, 0, 0, 0.75);
    z-index: 1;
  }
  
  header.active {
    background:black;
    touch-action: none;
  }
  
  header.hide {
    display:none;
  }
  
  .navbar {
  display:flex;
  justify-content: space-between;
  align-items: center;
  height:80px;
  }
  
  .brand-logo {
    padding-left:1.2rem;
    z-index:99;
  }
  
  
  
  .brand-logo a img {
  width:120px;
  }
  
  .nav-list ul {
    position:absolute;
    margin:0;
    padding:0;
    display:flex;
    left:100%;
    flex-direction: column;
    background:black;
    width:100%;
    height:100vh;
    justify-content: center;
    align-items: center;
    z-index:1;
    transition: .6s ease left;
  }
  
  
  .nav-list ul.active {
    left:0;
  }
  
  .nav-list li {
    list-style: none;
    margin:2rem;
    position:relative;
    top:-50px;
  }
  
  .nav-list li a {
    text-decoration: none;
    color:#bfbdbd;
  }
  
  .nav-list li a:hover {
      color:white;
  }

  .toggle-button {
    position: absolute;
    top:.5rem;
    right:1rem;
    z-index: 99;
    background-image: url("Menu.svg");
    background-size: cover;
    min-width:55px;
    min-height:60px;
    transition: background-image 150ms;
  }
  
  .toggle-button.active {
    background-image: url("Menu1.PNG");
    background-size: cover;
    width:55px;
    height:60px;
    right:1.5rem;
    top:1rem;
    transition:background-image 150ms;
    
  }
  
  
  
  
  /* Navbar End */
  
  
  /* Hero Start */
  
  #hero .hero {
    min-height:100vh;
    background-color: black;
  }
  
  #hero .hero img {
    position:absolute;
    width:200px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  
  #hero .hero img:nth-child(2) {
    display:none;
  }
  .arrow-down {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #bfbdbd;
    position:absolute;
    bottom:5%;
    left:50%;
    transform:translate(-50%,0);
    animation: animate 2s infinite;
  }
  
  /* Hero End */
  
  /* Services Start */

  #services .services {
    background:#060606;
    min-height:100vh;
    text-align: center;
    display:block;
    padding:25px;
  }

  #services h1 {

  }

  /* Services End */


  /* Work Start */
  
  #work .work {
   
    min-height:100vh;
    text-align: center;
    display:grid;
  }
  
  #work h1 {
    align-self: center;
  }
  
 
  
  
  /* Work End */
  
  /* Media Queries for desktop Start */
  
  @media all and (min-width:1200px){
    .brand-logo 
    {
      position: relative;
      left:100%;
    }
  
  

    .nav-list ul {
      margin:0;
      padding:0;
      display:flex;
      flex-direction: row;
      position: relative;
      height:80px;
      left:0;
      background:transparent;
      
    }
  
    .nav-list li {
      position:static;
    }

    .nav-list ul a {
      padding-right:1.5rem;
    }
  
    
    
    .toggle-button {
      display: none;
    }
  
    #hero .hero img {
      left:35%;
    }
  
    #hero .hero img:nth-child(2) {
      left:60%;
      width:400px;  
      display:inherit;
    }

    #services .services {
      background-image:url(tlo.png);
      background-size: cover;
      background-position: center;
    }
  }
  
  /* Media Queries for desktop End */
  

  /* Keyframes */
  
  @keyframes animate {
    0% {
      opacity: 0.5;
      transform: translate(-50%,-50%);
    }
    
    50% {
      opacity: 0.75;
    }
  
    100% {
      opacity: 1;
  
    }
  
  }
  
  /* Keyframes End */